@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove o ícone nativo de "mostrar senha" do Edge/Internet Explorer */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Remove o ícone nativo de "mostrar senha" de navegadores baseados em WebKit (Chrome, Safari, Edge novo) */
input[type="password"]::-webkit-password-reveal-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
}